@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;
}


.text-red{
  color: #b52c2c !important;
}
.bg-red{
  background-color: #b52c2c !important;
}

.bg-jumbotron{
  background-color: #f7eded !important;
  margin-bottom: 0 !important;
}

.border-red{
  border: 1px solid #b52c2c !important;
  border-radius: 10px;
}

.btn-outline-red{
  color: #b52c2c !important;
  border-color: #b52c2c !important;
  background: transparent;
}
.btn-outline-red:hover{
  color: white !important;
  background-color: #b52c2c !important;
}


.padding{
  padding: 4rem 2rem;
}


nav{
  box-shadow: 0px 0px 10px #262626;
}
.navbar{
  padding: .8rem;
  background-color: #f4f4f4;
}

.navbar-brand img{
  width: auto;
  height: 50px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
}

.navbar-nav li{
  padding-right:20px;
}

.nav-link{
  font-size: 1.1em !important;
  font-weight: 500;
  color: #b52c2c !important;
}
.nav-link:hover{
  border-bottom: 2px solid #b52c2c;
}
.nav-link.active{
  color: #b52c2c !important;
  border-bottom: 2px solid #b52c2c;
}


.form{
  display: block;
  box-shadow: 1px 2px 25px #262626;
  margin: 10% auto !important;
  padding: 5%;
  width: 50%;
}

.top{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
.middle{
border-radius: 0;
margin-top: -1px;
margin-bottom: -1px
}
.bottom{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form .btn{
  margin: 10px auto;
  width: 100%;
  box-shadow: 1px 1px 5px #262626;
}
.form .btn:hover{
  background-color: #841414 !important;
}

footer{
  background-color: #b52c2c;
  color: #fff;
  padding-top: 2rem;
}

hr.light{
  border-top: 1px solid #fff;
  width:75%;
}

@media(max-width:768px) {

  .nav-link{
    font-size: 0.8em !important;
    font-weight: 500;
    color: #b52c2c !important;
  }
  .navbar-nav li{
    padding-right:5px;
  }
  .navbar-brand img{
    width: auto;
    height: 40px;
  }
  .display-4{
    font-size: 190% !important;
  }
  .form{
    width: 60%;
  }
}

@media(max-width:425px) {
  .navbar-brand img{
    width: auto;
    height: 40px;
  }
  .display-4{
    font-size: 190% !important;
  }
  .form{
    width: 80%;
  }
}
