.carousel-inner img{
  width: 100%;
  height: auto;
}
.carousel-caption{
  position: absolute;
  top:50%;
  transform: translateY(-80%);
}
.carousel-caption img{
  height: 330px;
  width: auto;
}

.welcome{
  width: 75%;
  margin: 0 auto !important;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fa-plane,.fa-car,.fa-plus{
  color:#b52c2c;
  font-size: 4em;
  margin:1rem;
  text-shadow: 3px 3px 3px rgba(181, 44, 44,0.5);
  transition: 0.4s;
}
.fa-plane:hover,.fa-car:hover,.fa-plus:hover{
  font-size: 5em;
}




@media(max-width:768px) {
  .carousel-caption img{
    height: 200px;
    width: auto;
  }
  .carousel-caption{
    position: absolute;
    top:50%;
    transform: translateY(-90%);
  }
  .carousel-indicators{
    display: none !important;
  }
}
@media(max-width:425px) {
  .carousel-caption img{
    height: 100px;
    width: auto;
  }
  .carousel-caption{
    position: absolute;
    top:50%;
    transform: translateY(-90%);
  }
  .carousel-indicators{
    display: none !important;
  }
}
