@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;
  background-color: rgba(247, 237, 237,0.1);
}
nav{
  box-shadow: 0px 0px 8px rgba(34,34,34,0.45);
}
.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right:20px;
}
.nav-link{
  font-size: 1.1em;!important;
}

.heading{
  background-image: url("../images/machining.jpg");
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
}
.heading-title{
  color: white;
  font-size: 2em;
}
.heading-title-small{
  color: Yellow;
  font-size: 1.5em;
}
.dropdown{
  display: inline-block;
  position: relative;
  width: inherit;
  margin: 22px auto;
}
.dropbtn{
background-color: #4CAF50;
 color: white;
 padding: 12px 16px;
 font-size: 20px;
 border: none;
 width: 100%;
}
.dropbtn:after{
  content: ' \00BB';
  font-size: 20px;
}
.dropdown-content{
 /*display: none;*/
 opacity: 0;
 height: 0;
 transition: 0.5s;
 position: absolute;
 background-color: #f1f1f1;
 overflow: auto;
 width: 100%;
 text-align: center;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 8px 10px;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  /*display: block;*/
  opacity: 1;
  height: auto;

}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



.head-text{
  color: rgba(91, 102, 97,0.8);
  width:90%;
  margin: 40px auto;
  font-size: 1em;
  letter-spacing: 1.25px;
  line-height: 22px;
}

.row{
  width:95%;
  margin: 0 auto;
}
.card{
  box-shadow: 1px 1px 10px #d5d5d5;
  margin-bottom: 10px;
  transition: 0.4s;
}
.card-content{
  padding: 20px;
}
.card:hover{
  transform: translate(0px,-10px);
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width:75%;
}
