.heading{
  background-image: url("../images/machining.jpg");
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
}
.heading-title{
  color: white;
  font-size: 2em;
}
.heading-title-small{
  color: white;
  font-size: 1.5em;
}
.dropdown{
  display: inline-block;
  position: relative;
  width: inherit;
  margin: 22px auto;
}
.dropbtn{
 background-color: #b52c20;
 color: white;
 padding: 12px 16px;
 font-size: 20px;
 border: none;
 width: 100%;
}
.dropbtn:after{
  content: '\00BB';
  font-size: 20px;
}
.dropdown-content{
 opacity: 0;
 height: 0;
 transition: 0.5s;
 position: absolute;
 background-color: #f1f1f1;
 overflow: auto;
 width: 100%;
 text-align: center;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 8px 10px;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover { text-decoration: none; color: black; background-color: #ddd;}

.dropdown:hover .dropdown-content {
  opacity: 1;
  height: auto;
}
.dropdown:hover .dropbtn {background-color: #b52c2c;}

.product-cards{
  padding: 4rem 2rem;
  height: 500px;
  overflow-y: auto;
}
.product-cards::-webkit-scrollbar{
  width: 5px;
}
.product-cards::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 3px;
}
.card{
  box-shadow: 1px 1px 10px #d5d5d5;
  margin-bottom: 10px;
  transition: 0.4s;

}
.card-content{
  padding: 20px;
  background-color: #f7eded;
}
.card-title{
  color: #b52c2c;
}
.card:hover{
  transform: translate(0px,-10px);
}
.table-properties{
  padding: 2rem;
}
.table-properties table{
  table-layout: fixed;
  width: 100%;
}
.table-properties ul{
  padding-left: 20px;
}
.table-properties tr:nth-child(odd){
  background-color: #f7eded;
}
