.bg{
  background-image: url("../images/backgrounds/ptfe-background.jpg");
  height:60%;
  position: static;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-filled{
  background-image: url("../images/backgrounds/filled-background.jpg");
  height:60%;
  position: static;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text{
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  color: white;
  font-weight: bold;
  background-color: #b52c2c;
  padding: 10px;
  white-space: nowrap;
}
.bg-title{
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  color: white;
  font-weight: bold;
  background-color: #b52c2c;
  padding: 10px;
  white-space: nowrap;
}

.first{
  background-color: #f7eded;
  padding: 20px;
}
.second{
  margin: 10px;
  padding: 10px;
}
.third{
  background-color:#f7eded;
  padding: 20px;
}
.third h2{
  color: #b52c2c;
}
.third h4{
  color: #b52c2c;
}
.fourth{
  padding-top: 2rem;
}
.table-custom{
  margin-top: 2rem;
  height: 500px;
  overflow-y: auto;
}
.table-custom::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
.table-custom::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 3px;
 }
.table-custom th{
   position: sticky;
   background-color: rgb(247, 237, 237);
   top:0px;
   border-top: 1px solid #dee2e6;
   border-bottom: 1px solid #dee2e6;
 }

.third-inner{
  background-color:rgb(247, 237, 237);
  height: 400px;
  padding: 4rem 2rem;
  margin-top: 3rem;
  overflow-y: auto;
}
.third-inner::-webkit-scrollbar{
  width: 5px;
}
.third-inner::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 3px;
 }
 .card-img-overlay h6{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
    padding: 20px;
    margin: 0;
  }


@media(max-width:425px) {
  .bg-text{
    font-size: 90%;
    transform: translate(-50%, -230%);
  }
  .bg-title{
    font-size: 58%;
    transform: translate(-50%, -140%);
  }
  .table-custom td{
    font-size: x-small;
  }
}
