@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;
}
nav{
  box-shadow: 0px 0px 8px rgba(34,34,34,0.45);
}
.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right:20px;
}
.nav-link{
  font-size: 1.1em;!important;
}

.heading{
  background-image: url("../../images/machining.jpg");
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
}
.heading-title{
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 5px #262626;
}
.heading-title-small{
  color: Yellow;
  font-size: 1.5em;
}
.dropdown{
  display: block;
  position: relative;
  width: inherit;
  margin-top: 6%;
  margin-bottom: 5%;
}
.dropbtn{
background-color: #4CAF50;
 color: white;
 padding: 12px 16px;
 font-size: 20px;
 border: none;
 width: 100%;
}
.dropbtn:after{
  content: ' \00BB';
  font-size: 20px;
}
.dropdown-content{
 /*display: none;*/
 opacity: 0;
 height: 0;
 transition: 0.5s;
 position: absolute;
 background-color: #f1f1f1;
 overflow: auto;
 width: 100%;
 text-align: center;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 8px 10px;
  font-size:0.9rem;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  /*display: block;*/
  opacity: 1;
  height: auto;

}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.content{
  margin: 40px auto;
}
.content p{
  font-size: 1rem;
}
.content img{
  border-radius: 8px;
  box-shadow: 1px 1px 5px #262626;
}

.padding{
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #262626;
  border-radius: 10px;
}
#ring-list li{
  display: inline;
  margin: 0;
  padding: 10px;
}
#ring-list li:before{
  content: '\2023';
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width:75%;
}
@media(max-width:540px) {
  h3{
    font-size: 1.55rem;
  }
  .content p{
    font-size: 0.9rem;
  }
  #ring-list li{
    display: block;
  }
}
@media(max-width:400px) {
  h3{
    font-size: 1.3rem;
  }
  .content p{
    font-size: 0.9rem;
  }
  #ring-list li{
    display: block;
  }
}
